<div class="container p-5">
  <form [formGroup]="blogForm">
    <input
      class="form-control col-12 mb-4"
      placeholder="Title"
      formControlName="title"
    />
    <textarea
      class="form-control col-12 mb-4"
      placeholder="Description"
      formControlName="description"
    ></textarea>
    <img
      [src]="
        blogImgUrl
          ? blogImgUrl
          : 'https://cdn-icons-png.flaticon.com/512/739/739249.png'
      "
      class="img-thumbnail mb-2"
      style="width: 100px; height: 100px"
    />
    <input
      (change)="loadLocalBlogImg($event)"
      class="form-control mb-4"
      type="file"
      id="formFile"
    />
  </form>

  <ckeditor [(ngModel)]="blogContent" [editor]="Editor"></ckeditor>
  <div class="mt-2">
    <button class="btn btn-dark me-2" (click)="onSaveChanges()">Save Post</button>
    <button class="btn btn-danger" (click)="onDelete()">Delete Post</button>
  </div>
</div>
