<div class="background">
  <div
    class="container border p-5 position-absolute top-50 start-50 translate-middle"
  >
    <h1 class="text-center mb-4" style="font-weight: 700;">da.gloB</h1>
    <form
      [ngClass]="{ 'was-validated': validated }"
      class="needs-validation form-row"
      [formGroup]="loginForm"
      novalidate
    >
      <div class="mb-3 mt-3">
        <input
          type="text"
          class="form-control"
          id="email"
          required
          placeholder="Email"
          formControlName="Email"
        />
        <div class="invalid-feedback">Please enter your email.</div>
      </div>
      <div class="mb-3 mt-3">
        <input
          type="password"
          class="form-control"
          id="password"
          required
          placeholder="Password"
          formControlName="Password"
        />
        <div class="invalid-feedback">Please enter your password.</div>
      </div>
      <div class="mb-3">
        <button
          class="btn btn-dark w-100"
          (click)="onSubmit()"
          type="submit"
        >
          Continue
        </button>
      </div>
    </form>
    <div class="text-center">
      No account? <a routerLink="/signup">Create account</a>
    </div>
  </div>
</div>
