.sidebar {
  position: absolute;
  left: -220px;
  top: 0;
  transition: transform .5s;
}

.content {
  padding-top: 50px;
  height: 100vh;
  transition: margin .5s;
  overflow: auto;
}

.open-content {
  margin-left: 220px;
}

.open-sidebar {
  transform: translate(220px);
}