<!-- Background -->
<!-- Side Bar -->
<div [ngClass]="{ 'open-sidebar': sideBarIsOpen }" class="sidebar">
  <div class="bg-dark p-4" style="width: 250px; height: 100vh">
    <button
      routerLink="discover"
      class="btn btn-dark w-100 mb-3"
      style="margin-top: 50px"
    >
      Discover
    </button>
    <button routerLink="profile" class="btn btn-dark w-100 mb-3">
      Profile
    </button>
    <button class="btn btn-dark w-100 mb-3">Dashboard</button>
  </div>
</div>
<!-- NavBar -->
<nav class="navbar fixed-top navbar-dark bg-dark">
  <div class="container-fluid">
    <div>
      <button (click)="toggleSideBar()" class="navbar-toggler" type="button">
        <span class="navbar-toggler-icon"></span>
      </button>
      <span class="navbar-brand m-4">da.gloB</span>
    </div>
    <div>
      <button (click)="createNewBlogPost()" class="btn btn-danger me-3">Create New Post</button>
      <button (click)="logout()" class="btn btn-dark border">Logout</button>
    </div>
  </div>
</nav>
<!-- Content -->
<div class="content" [ngClass]="{ 'open-content': sideBarIsOpen }">
  <router-outlet></router-outlet>
</div>

