.sidebar {
  position: absolute;
  left: -250px;
  top: 0;
  transition: transform .5s;
}

.content {
  padding-top: 50px;
  height: 100vh;
  transition: margin .5s;
  overflow: auto;
  background: rgb(34,193,195);
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}

.open-content {
  margin-left: 250px;
}

.open-sidebar {
  transform: translate(250px);
}