<div class="container mt-5 p-5">
  <div class="card p-3">
    <div class="card-body">
      <div class="d-flex">
        <img
          class="me-5"
          [src]="
            fetchedUserObj?.profileImgUrl
              ? baseApiUrl + fetchedUserObj?.profileImgUrl
              : 'https://cdn-icons.flaticon.com/png/512/1144/premium/1144760.png?token=exp=1649739593~hmac=230231ac8bf7359fd8a751a51d3bff3e'
          "
          style="width: 120px; height: 120px; border-radius: 50%"
          alt=""
        />
        <div>
          <h3>{{ fetchedUserObj?.fullName }}</h3>
          <p class="text-muted">{{ roleName }}</p>
          <p>{{ fetchedUserObj?.email }}</p>
        </div>
      </div>
    </div>
    <div class="card-body text-end">
      <button
        class="btn btn-outline-dark"
        data-bs-toggle="modal"
        data-bs-target="#editUser"
      >
        Edit Profile
      </button>
      <button
        class="btn btn-outline-danger ms-2"
        data-bs-toggle="modal"
        data-bs-target="#changePassword"
      >Change Password</button>
    </div>
  </div>
</div>

<!-- Edit Profile Modal -->
<div
  class="modal fade"
  id="editUser"
  tabindex="-1"
  aria-labelledby="editUser"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editUserModalLabel">Update Profile</h5>
        <button
          id="close-modal"
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form
          class="needs-validation row g-3"
          novalidate
          [formGroup]="editUserForm"
        >
          <div class="col-sm-12 d-flex justify-content-center">
            <img
              class="img-fluid img-thumbnail"
              [src]="
                profileImgUrl
                  ? profileImgUrl
                  : 'https://cdn-icons.flaticon.com/png/512/1144/premium/1144760.png?token=exp=1649739593~hmac=230231ac8bf7359fd8a751a51d3bff3e'
              "
              style="width: 120px; height: 120px; border-radius: 50%"
              alt=""
            /><br />
            <div class="form-group">
              <label for="file-input">
                <i class="fa-solid fa-square-pen"></i>
              </label>
            </div>
          </div>
          <input
            (change)="loadProfileImage($event)"
            id="file-input"
            style="display: none"
            type="file"
            accept="image/*"
          />
          <div class="col-md-12">
            <input
              formControlName="fullName"
              type="text"
              class="form-control"
              id="fullName"
              placeholder="Full name"
              required
            />
            <div class="invalid-feedback">This field is required.</div>
          </div>
          <div class="col-md-12">
            <input
              formControlName="email"
              type="text"
              class="form-control"
              id="email"
              placeholder="Email address"
              required
            />
            <div class="invalid-feedback">This field is required.</div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="onSaveChanges()" class="btn btn-dark">
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Change Password Modal -->
<div
  class="modal fade"
  id="changePassword"
  tabindex="-1"
  aria-labelledby="changePassword"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="changePasswordModalLabel">Change Password</h5>
        <button
          id="passwordChangeModal-close"
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form
          class="needs-validation row g-3"
          [formGroup]="changePasswordForm"
          novalidate
        >
          <div class="col-md-12">
            <input
              type="password"
              class="form-control"
              placeholder="Old Password"
              required
              formControlName="oldPassword"
            />
            <div class="invalid-feedback">This field is required.</div>
          </div>
          <div class="col-md-12">
            <input
              type="password"
              class="form-control"
              placeholder="New Password"
              required
              formControlName="newPassword"
            />
            <div class="invalid-feedback">This field is required.</div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="onSubmitPassword()" class="btn btn-dark">
          Confirm Password Change
        </button>
      </div>
    </div>
  </div>
</div>
